<?xml version="1.0" encoding="UTF-8"?>
<!-- File used for the example of Bean configuration, Application Context,   Bean Property and Constructor Injection , Autowired -->


  
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd">
               
<context:component-scan base-package="com.priyalearning.web"></context:component-scan>
     
</beans>

  <!--   Bean Property and Constructor Injection
  <context:component-scan base-package="com.priyalearning.web"></context:component-scan>
      <bean id="tyre" class="com.priyalearning.web.Tyre">
      <property name="brand" value="MRF" >	 bean Property  with setter method of the class  </property>
      <constructor-arg value="MRF"></constructor-arg> constructor Injection
      </bean> -->
      

<!-- 
Application context based Configuration
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   
    <bean id="vehicle" class="com.priyalearning.web.Car"></bean>
    
   </beans> -->
   
 

   
   
  
   
   
